<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% small = 16 %>
  <% large = 34 %>
  <div>
    <%= f.text_field :firstName, placeholder: "First Name", size: small %>
  </div>
  <div>
    <%= f.text_field :lastName, placeholder: "Last Name", size: small, style: "margin-left:15px;" %>
  </div>
  <div class="field">
    <%= f.text_field :email, placeholder: "Your email", size: large %>
  </div>
  <div class="field">
    <%= f.password_field :password, placeholder: "New Password", size: large %>
  </div>
  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm password", size: large %>
  </div>
  <div class="field">
    <%= f.radio_button :gender, 'f' %> <%= f.label :gender, "Female" %>
    <%= f.radio_button :gender, 'm' %> <%= f.label :gender, "Male" %>
  </div>
  <div class="field">
    <p>Birthday:</p>
    <%= f.select :birthMonth, options_for_select(@month_options), prompt: "Month:" %>
    <%= f.select :birthday, (1..31), prompt: "Day:" %>
    <%= f.select :birthYear, @birthYearRange, prompt: "Year:" %>
  </div>
  <div class="field">
    <p>Hometown:</p>
    <%= f.select :hometown , options_for_select(@hometowns), prompt: "Hometown:" %>
  </div>
  <div class="actions">
    <%= f.submit submit_text ||= "Submit" %>
  </div>
<% end %>
