<div class="col5" id="landing-carousel">
	<h1>CollegeLens is the best place to find beautiful campus photos</h1><br /><br /><br />
	<ul class="carousel shadow3">
		<li>
			<%= image_tag 'carousel/UTAustin.png' %>
		</li>
		<li>
			<%= image_tag 'carousel/StanfordQuad.png' %>
		</li>
		<li>
			<%= image_tag 'carousel/UChicago.png' %>
		</li>
		<li>
			<%= image_tag 'carousel/WashingtonUniversity.png' %>
		</li>
		<li>
			<%= image_tag 'carousel/IllinoisQuad.png' %>
		</li>
	</ul>
	
</div>
<div class="col5">
	<h1 id="signup-ask">Start exploring campus photos today! <br><span id="signup-ask-sub"> -it's free</span></h1><br />
	<%= render 'form', submit_text: "Start exploring!" %>
</div>



