<%= render 'layouts/navigation' %>


<p id="notice"><%= notice %></p>



<div class="info-col">
  <%= avatar_for @user %>
  <p><%= @user.city%>, <%= @user.state %></p>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
