<h1>Listing colleges</h1>

<table>
  <tr>
    <th>Officialname</th>
    <th>Seal</th>
    <th>Shortname</th>
    <th>City</th>
    <th>State</th>
    <th>Facebook</th>
    <th>Twitter</th>
    <th>Instagram</th>
    <th>Wikipedia</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @colleges.each do |college| %>
  <tr>
    <td><%= college.officialName %></td>
    <td><%= render 'colleges/seal', args: '16x16#', college: college %></td>
    <td><%= college.shortName %></td>
    <td><%= college.city %></td>
    <td><%= college.state %></td>
    <td><%= college.facebook %></td>
    <td><%= college.twitter %></td>
    <td><%= college.instagram %></td>
    <td><%= college.wikipedia %></td>
    <td><%= link_to 'Show', college %></td>
    <td><%= link_to 'Edit', edit_college_path(college) %></td>
    <td><%= link_to 'Destroy', college, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New College', new_college_path %>
