<%= render 'layouts/navigation' %>
<p id="notice"><%= notice %></p>


<div id="info-col" class="shadow3">
  <%= render 'colleges/seal', args: '150x150#', college: @college %>
  <strong><p><%= @college.officialName %></p></strong>
  <p><%= @college.city%>, <%= @college.state %></p>
  <%= render partial: 'layouts/status', :locals => { college: @college } %>
  <%= render 'photos/add_photo', college: @college %>

  <%= link_to 'Edit', edit_college_path(@college) %> |
  <%= link_to 'Back', colleges_path %>
</div>
<div id="gridal">
	<table>
		<% @college_photos.each_slice(4) do |slice| %>
			<tr>
			<% slice.each do |p| %>
			<td class="photo_index">
				<%= link_to(image_tag(p.photo_image.thumb('200x200#').url), {:controller => 'photos', :action => 'show', :photo_id => p.id }) %>
			</td>
		<% end %>
		</tr>
		<% end %>
	</table>
</div>






