<%= render 'layouts/navigation' %>
<p id="notice"><%= notice %></p>


<div id="info-col" class="shadow3">
  <%= render 'colleges/seal', args: '150x150#', college: @college %>
  <strong><p><%= @college.officialName %></p></strong>
  <p><%= @college.city%>, <%= @college.state %></p>
  <%= render partial: 'layouts/status', :locals => { college: @college } %>
  <%= render 'photos/add_photo', college: @college %>

  <%= link_to 'Edit', edit_college_path(@college) %> |
  <%= link_to 'Back', colleges_path %>
</div>
<div id="gridal">
	<%= image_tag @photo_to_show.photo_image.thumb('800x800>').url %>
	<p><%= @photo_to_show.caption %></p>
	<% @commentable.each do |c| %>
	<% u = User.find_by_id(c.user_id) %>
	<p><%= c.text %> by <%= "#{u.firstName} #{u.lastName}" %></p>
	<% end %>
</div>
