<%= render 'layouts/navigation' %>
<p id="notice"><%= notice %></p>


<div id="info-col" class="shadow3">
  <%= render 'colleges/seal', args: '150x150#', college: @college %>
  <strong><p><%= @college.officialName %></p></strong>
  <p><%= @college.city%>, <%= @college.state %></p>
  <%= render partial: 'layouts/status', :locals => { college: @college } %>

  <%= link_to 'Back', @college %>
</div>
<div id="gridal">
	<%= image_tag @photo_to_show.photo_image.thumb('800x800>').url %>
	<h3 class="photo_caption"><%= @photo_to_show.caption %></h3>
	<% @commentable.each do |c| %>
	<% u = User.find_by_id(c.user_id) %>
  <br><br><br>
  <!-- add user avatar on same line -->
	<p><%= c.text %> by <%= "#{u.firstName} #{u.lastName}" %></p>
	<% end %>

  <!-- add comments go here -->
</div>
