<h1>Listing cities</h1>

<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.city %></td>
    <td><%= city.state %></td>
    <td><%= city.country %></td>
    <td><%= city.latitude %></td>
    <td><%= city.longitude %></td>
  </tr>
<% end %>
</table>

<br />

